* {
  box-sizing: border-box;
}
.sign-in-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  width: 350px;
}

input {
  display: block;
  width: 100%;
  padding: 16px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  margin: 0 0 16px 0;
}

input.ng-invalid.ng-touched {
  border-left: 2px solid red;
}

.input-errors {
  color: red;
  margin: 0 0 16px 0;
}

button {
  display: block;
  background-color: rgba(175, 47, 47, 0.15);
  width: 100%;
  padding: 16px;
}
